<header id="top-header" class="sticky top-0 z-50 bg-black/90 transition duration-300">
    <div class="container">
        <div class="flex items-center justify-between py-5 lg:py-0">
            <a href="/"><img src="/assets/images/logo.png" alt="logo" class="h-10" /></a>
            <div class="flex items-center">
                <div class="js-toggle-menu overlay fixed inset-0 z-[51] hidden bg-black/60 lg:hidden"></div>
                <div class="menus">
                    <div class="border-b border-gray/10 ltr:text-right rtl:text-left lg:hidden">
                        <button type="button" class="js-toggle-menu p-4">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="h-6 w-6 text-black dark:text-white"
                            >
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                    </div>

                    <ul>
                        <li><a
                            href="/home"
                            class="<%= page.url === '/home' ? 'active' : '' %>">Home</a>
                        </li>

                        <li class="group relative">
                            <a href="/cursos" class="<%= page.url === '/cursos' ? 'active' : '' %>">
                                Cursos
                                <div class="transition duration-500 group-hover:rotate-180 ltr:ml-2 rtl:mr-2">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M6 9L12 15L18 9"
                                            stroke="currentColor"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                    </svg>
                                </div>
                            </a>
                            <div class="submenu">
                                <a
                                    class="<%= page.url === '/design-patterns' ? 'active' : '' %>"
                                    href="/fundamentos-do-desenvolvedor">Fundamentos de um Desenvolvedor
                                </a>

                                <a
                                    class="<%= page.url === '/umpordez' ? 'active' : '' %>"
                                    href="/umpordez">
                                    umpordez
                                    <span
                                        class="ml-1 whitespace-nowrap rounded bg-gradient-to-r from-[#ef4444] to-[#f97316] px-1.5 py-0.5 text-[10px] font-bold uppercase text-white"
                                    >
                                        Em Breve 
                                    </span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <a
                                class="<%= page.url === '/tao' ? 'active' : '' %>"
                                href="/tao">Tao</a>
                        </li>
                        <li>
                            <a
                                class="<%= page.url === '/blog' ? 'active' : '' %>"
                                href="/blog">Blog</a>
                        </li>
                        <li><a href="https://tenx.club">Discord</a></li></li>
                        <li>
                            <a
                                class="<%= page.url === '/sobre' ? 'active' : '' %>"
                                href="/sobre">Sobre</a>
                        </li>
                    </ul>
                </div>
                <button type="button" class="flex h-10 w-10 items-center justify-center rounded-full bg-primary lg:hidden js-toggle-menu ml-2">
                    <svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg" class="text-white">
                        <path
                            d="M2 15H11C11.552 15 12 15.447 12 16C12 16.553 11.552 17 11 17H2C1.448 17 1 16.553 1 16C1 15.447 1.448 15 2 15Z"
                            fill="currentColor"
                        />
                        <path
                            d="M2 8H20C20.552 8 21 8.447 21 9C21 9.553 20.552 10 20 10H2C1.448 10 1 9.553 1 9C1 8.447 1.448 8 2 8Z"
                            fill="currentColor"
                        />
                        <path
                            d="M21 2C21 1.447 20.552 1 20 1H7C6.448 1 6 1.447 6 2C6 2.553 6.448 3 7 3H20C20.552 3 21 2.553 21 2Z"
                            fill="currentColor"
                        />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</header>
