<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include('partials/head.ejs') %>

    <%- include('partials/head.ejs') %>
    <body class="overflow-x-hidden">
        <%- include('partials/screen-loader.ejs') %>
        <div
            class="flex min-h-screen flex-col bg-white bg-gradient-to-r from-[#FCF1F4] to-[#EDFBF9] font-mulish text-base font-normal text-gray antialiased dark:bg-[#101926] dark:from-transparent dark:to-transparent"
        >
            <%- include('partials/header.ejs') %>


            <section class="bg-gradient-to-t from-white to-transparent py-7 dark:bg-none">
                <div class="container">
                    <div class="prose max-w-full dark:prose-invert">
                        <h1>Programação umpordez</h1>
                    </div>
                    <div class='mt-4 grid gap-2 md:grid-cols-6'>
                        <div class=''>
                            <div class="
                                border-green-700
                                bg-green-900
                                rounded-md
                                border-2
                                text-white
                                p-2
                                my-1
                                ">
                                <div>
                                    <div class='text-xs flex justify-between items-center'>
                                        <strong>Segunda-feira</strong>
                                        <p class='text-xs font-bold'>19:20h</p>
                                    </div>
                                    <p>Live aberta <a
                                        href='https://youtube.com/c/ligeiro'
                                        target='_blank'>@ligeiro</a></p>
                                </div>
                            </div>
                        </div>

                        <div class=''>
                            <div class="
                                border-gold-100
                                bg-gold-300
                                rounded-md
                                border-2
                                text-gold-900
                                p-2
                                my-1
                                ">
                                <div>
                                    <div class='text-xs flex justify-between items-center'>
                                        <strong>Terça-feira</strong>
                                        <p class='text-xs font-bold'>19:00h</p>
                                    </div>
                                    <p>Live <a
                                        href='https://youtube.com/c/ligeiro'
                                        target='_blank'>membros</a></p>
                                </div>
                            </div>
                        </div>

                        <div class=''>
                            <div class="
                                border-green-700
                                bg-green-900
                                rounded-md
                                border-2
                                text-white
                                p-2
                                my-1
                                ">
                                <div>
                                    <div class='text-xs flex justify-between items-center'>
                                        <strong>Quarta-feira</strong>
                                        <p class='text-xs font-bold'>19:20h</p>
                                    </div>
                                    <p>Live aberta <a
                                        href='https://youtube.com/c/ligeiro'
                                        target='_blank'>@ligeiro</a></p>
                                </div>
                            </div>
                        </div>

                        <div class=''>
                            <div class="
                                border-orange-900
                                bg-orange-700
                                rounded-md
                                border-2
                                text-white
                                p-2
                                my-1
                                ">
                                <div>
                                    <div class='text-xs flex justify-between items-center'>
                                        <strong>Quinta-feira</strong>
                                        <p class='text-xs font-bold'>19:00h</p>
                                    </div>
                                    <p>Aula <strong>umpordez</strong></p>
                                </div>
                            </div>
                        </div>

                        <div class=''>
                            <div class="
                                border-green-700
                                bg-green-900
                                rounded-md
                                border-2
                                text-white
                                p-2
                                my-1
                                ">
                                <div>
                                    <div class='text-xs flex justify-between items-center'>
                                        <strong>Sexta-feira</strong>
                                        <p class='text-xs font-bold'>19:20h</p>
                                    </div>
                                    <p>Live aberta <a
                                        href='https://youtube.com/c/ligeiro'
                                        target='_blank'>@ligeiro</a></p>
                                </div>
                            </div>
                        </div>

                        <div class=''>
                            <div class="
                                border-orange-900
                                bg-orange-700
                                rounded-md
                                border-2
                                text-white
                                p-2
                                my-1
                                ">
                                <div>
                                    <div class='text-xs flex justify-between items-center'>
                                        <strong>Sabado</strong>
                                        <p class='text-xs font-bold'>15:00h</p>
                                    </div>
                                    <p>Aula <strong>umpordez</strong></p>
                                </div>
                            </div>
                            <div class="
                                my-1
                                border-green-700
                                bg-green-900
                                rounded-md
                                border-2
                                text-white
                                p-2
                                ">
                                <div>
                                    <div class='text-xs flex justify-between items-center'>
                                        <strong>Sabado</strong>
                                        <p class='text-xs font-bold'>19:20h</p>
                                    </div>
                                    <p>Live aberta <a
                                        href='https://youtube.com/c/ligeiro'
                                        target='_blank'>@ligeiro</a></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <%- include('partials/footer.ejs') %>
        </div>

        <%- include('partials/return-to-top-button.ejs') %>
        <script src="/lib/swiper-bundle.min.js"></script>
        <script src="/lib/aos.min.js"></script>
        <script type='module' src="/src/js/sobre.js"></script>
</html>
