<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include('partials/head.ejs') %>

    <%- include('partials/head.ejs') %>
    <body class="overflow-x-hidden">
        <%- include('partials/screen-loader.ejs') %>
        <div
            class="flex min-h-screen flex-col bg-white bg-gradient-to-r from-[#FCF1F4] to-[#EDFBF9] font-mulish text-base font-normal text-gray antialiased dark:bg-[#101926] dark:from-transparent dark:to-transparent"
        >
            <%- include('partials/header.ejs') %>


        <div class="
            flex
            min-h-screen
            flex-col
            bg-white
            bg-gradient-to-r
            from-[#FCF1F4]
            to-[#EDFBF9]
            font-mulish
            text-base
            font-normal
            text-gray
            antialiased
            dark:bg-[#101926]
            dark:from-transparent
            dark:to-transparent

            ">

            <div class="
                bg-no-repeat
                bg-cover
                bg-center
                ;md:bg-[url('/assets/images/service-video-bg.png')]
                ">
                <div class="
                    container
                    mt-4

                    ">
                    <div class="">
                        <div class="heading mb-5">
                            <h6>Yaaaaaaay!!</h6>
                            <h4>Seu cadastro está confirmado!!</h4>
                        </div>

                        <p class='text-xl text-white'>
                            Te vejo no dia 27 de janeiro. :)
                            <!--
                            <br /><br />
                            Para aquecer, veja o video abaixo: -->
                        </p>
                            <div
                                class="h-[200px] md:h-[350px] lg:h-[430px] xl:h-[500px] mt-6 mb-10"
                                style="background-color: black; text-align: center;">
                                <iframe
                                    style="width: 100%; height: 100%"
                                    src="https://www.youtube.com/embed/WdA4yLo_zgA"
                                    title="umpordez reboot"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    referrerpolicy="strict-origin-when-cross-origin"
                                    allowfullscreen></iframe>

                            </div>
                            <div class='text-center mb-10'>
                                <a href='https://github.com/umpordez/umpordez.com/'
                                    class="
                                    ml-auto
                                    rounded-md
                                    bg-secondary
                                    px-3
                                    py-1.5
                                    font-bold
                                    text-white
                                    transition
                                    hover:bg-primary
                                    lg:py-2
                                    lg:text-lg"
                                >
                                    Acessar repo
                                </a>
                            </div>
                    </div>
                </div>
            </div>
            <%- include('partials/footer.ejs') %>
        </div>

        <%- include('partials/return-to-top-button.ejs') %>
        <script src="/lib/swiper-bundle.min.js"></script>
        <script src="/lib/aos.min.js"></script>
        <script type='module' src="/src/js/sobre.js"></script>
</html>
