<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include('partials/head.ejs') %>
    <body class="overflow-x-hidden">
        <%- include('partials/screen-loader.ejs') %>
        <div
            class="flex min-h-screen flex-col bg-white bg-gradient-to-r from-[#FCF1F4] to-[#EDFBF9] font-mulish text-base font-normal text-gray antialiased dark:bg-[#101926] dark:from-transparent dark:to-transparent"
        >
            <%- include('partials/header.ejs') %>

            <section class="bg-gradient-to-t from-white to-transparent py-7 dark:bg-none">
                <div class="container">
                    <div class="prose max-w-full dark:prose-invert">
                        <h1>Tao da Programação</h1>
                        <p>
                            Traduzido por Deividy Metheler Zachetti, retirado de
                            <a href="https://www.mit.edu/~xela/tao.html">https://www.mit.edu/~xela/tao.html</a>
                        </p>
                        <H3>Livro UM.</H3>
                        <H2><I>O silencio do vácuo</I></H2>
                        <H5>Assim disse o Mestre Programador:</H5>
                        <P><FONT SIZE=+1><B>"Quando você aprendeu a encontrar o
                            error code da trap frame, será hora de você sair."</B></FONT>
                        <HR>
                        <H4>1.1</H4>
                        <P>
                            Algo misterioso é formado, nascido do silêncio do vácuo. esperando,
                            sozinho e sem se movimentar, está parado e ainda assim em
                            constante movimento.
                            Ele é a fonte de todos os programas. 
                            Não sei o seu nome, então irei chama-lo de Tao da Programação.
                        <BLOCKQUOTE>
                            Se o Tao é ótimo, então o sistema operacional é ótimo
                        <BR>
                            Se o sistema operacional é ótimo, então o compilador é ótimo.
                        <BR>
                            Se o compilador é ótimo, então a app é ótima.
                        <BR>
                            O usuário está satisfeito, e há harmonia no mundo.
                        </BLOCKQUOTE>
                            O Tao da Programação fluí bem distante e retorna com a brisa da manhã.
                        <HR>
                        <H4>1.2</H4>
                        <P> 
                            O Tao deu origem a linguagem de maquinas. Linguagem de maquinas
                            deu origem ao assembler.                        
                        </P>
                        <P>
                            O assembler deu origem ao compilador.
                            Agora há dezenas de milhares de linguagens.
                        </P>
                        <p>
                            Cada linguagem tem o seu propósito, por mais humilde que seja.
                            Cada linguagem expressa o Yin e Yang de software.
                            Cada linguagem tem o seu lugar no Tao.
                        <P>
                            Mas não programe em <TT>COBOL</TT> se você puder.
                        </P>
                        <HR>
                        <H4>1.3</H4>
                        <P>
                            No inicio havia o Tao. O Tao deu origem ao Espaço e tempo.
                        <P>
                            Portanto Espaço e Tempo são o Yin e Yang da programação.
                        <P>
                            Os programadores que não compreendem o Tao estão sempre ficando sem
                            tempo e espaço para seus programas. Os
                            programadores que compreendem o Tao sempre têm tempo e
                            espaço suficientes para atingir seus objetivos.
                        <P>
                            Como poderia ser de outra forma?
                        <HR>
                        <H4>1.4</H4>
                        <P>
                            O programador sábio ouve sobre o Tao e o segue.
                            O mediano é informado sobre o Tao e o procura.
                            O tolo fica sabendo do Tao e ri dele.
                        <P>
                            Se não fosse pelo riso, não haveria Tao.
                        <P>
                            Os sons mais altos são mais difíceis de ouvir.
                            Seguir em frente é uma maneira de recuar.
                            Grande talento se mostra tarde na vida.
                            Mesmo um perfeito programa ainda tem bugs.
                        <hr />
                        <p></p>
                            Original *as is* de
                            <a href="https://www.mit.edu/~xela/tao.html">https://www.mit.edu/~xela/tao.html</a>:
                        </p>
                        <H1><I>The Tao of Programming</I></H1>
                        <H4>Translated by Geoffrey James</H4>
                        <HR>
                        <P><I>Note: I copied this from 
                        <TT><A HREF="http://misspiggy.gsfc.nasa.gov/tao.html">http://misspiggy.gsfc.nasa.gov/tao.html</A></TT>
                        and stripped out all of the IMHO extraneous formatting.
                        <BR>---Alex</I>
                        <HR>
                        <H3>BOOK 1</H3>
                        <H2><I>The Silent Void</I></H2>
                        <H5>Thus spake the Master Programmer:</H5>
                        <P><FONT SIZE=+1><B>"When you have learned to snatch the error code
                        from the trap frame, it will be time for you to leave."</B></FONT>
                        <HR>
                        <H4>1.1</H4>
                        <P>
                        Something mysterious is formed, born in the silent void.  waiting
                        alone and unmoving, it is at once still and yet in constant motion.
                        It is the source of all programs.  I do not know its name, so I will
                        call it the Tao of Programming.
                        <BLOCKQUOTE>
                        If the Tao is great, then the operating system is great.
                        <BR>
                        If the operating system is great, then the compiler is great.
                        <BR>
                        If the compiler is great, then the application is great.
                        <BR>
                        The user is pleased, and there is harmony in the world.
                        </BLOCKQUOTE>
                        The Tao of Programming flows far away and returns on the wind of
                        morning.
                        <HR>
                        <H4>1.2</H4>
                        <P> 
                        The Tao gave birth to machine language.  Machine language gave birth
                        to the assembler.
                        <P>
                        The assembler gave birth to the compiler.  Now there are ten thousand
                        languages.
                        <P>
                        Each language has its purpose, however humble.  Each language
                        expresses the Yin and Yang of software.  Each language has its place
                        within the Tao.
                        <P>
                        But do not program in <TT>COBOL</TT> if you can avoid it.
                        <HR>
                        <H4>1.3</H4>
                        <P>
                        In the beginning was the Tao.  The Tao gave birth to Space and Time.
                        <P>
                        Therefore Space and Time are the Yin and Yang of programming.
                        <P>
                        Programmers that do not comprehend the Tao are always running out of
                        time and space for their programs.  Programmers that comprehend the
                        Tao always have enough time and space to accomplish their goals.
                        <P>
                        How could it be otherwise?
                        <HR>
                        <H4>1.4</H4>
                        <P>
                        The wise programmer is told about Tao and follows it.  The average
                        programmer is told about Tao and searches for it.  The foolish
                        programmer is told about Tao and laughs at it.
                        <P>
                        If it were not for laughter, there would be no Tao.
                        <P>
                        The highest sounds are hardest to hear.  Going forward is a way to
                        retreat.  Great talent shows itself late in life.  Even a perfect
                        program still has bugs.
                        <HR>
                        <H3>BOOK 2</H3>
                        <H2><I>The Ancient Masters</I></H2>
                        <H5>Thus spake the Master Programmer:</H5>
                        <P><FONT SIZE=+1><B> "After three days without programming, life
                        becomes meaningless."</B></FONT>
                        <HR>
                        <H4>2.1</H4>
                        <P>
                        The programmers of old were mysterious and profound.  We cannot fathom
                        their thoughts, so all we do is describe their appearance.
                        <BLOCKQUOTE>
                        Aware, like a fox crossing the water.
                        <BR>
                        Alert, like a general on the battlefield.  
                        <BR>
                        Kind, like a hostess greeting her guests.  
                        <BR>
                        Simple, like uncarved blocks of wood.  
                        <BR>
                        Opaque, like black pools in darkened caves.
                        </BLOCKQUOTE>
                        Who can tell the secrets of their hearts and minds?
                        <P>
                        The answer exists only in Tao.
                        <HR>
                        <H4>2.2</H4>
                        <P>
                        The Grand Master Turing once dreamed that he was a machine.  When he
                        awoke, he exclaimed:
                        <P>
                        "I don't know whether I am Turing dreaming that I am a machine, or a
                        machine dreaming that I am Turing!"
                        <HR>
                        <H4>2.3</H4>
                        <P>
                        A programmer from a very large computer company went to a software
                        conference and then returned to report to his manager, saying: "What
                        sort of programmers work for other companies?  They behaved badly and
                        were unconcerned with appearances.  Their hair was long and unkempt
                        and their clothes were wrinkled and old.  They crashed our hospitality
                        suite and they made rude noises during my presentation."
                        <P>
                        The manager said: "I should have never sent you to the conference.
                        Those programmers live beyond the physical world.  They consider life
                        absurd, an accidental coincidence.  They come and go without knowing
                        limitations.  Without a care, they live only for their programs.  Why
                        should they bother with social conventions?
                        <P>
                        They are alive within the Tao."
                        <HR>
                        <H4>2.4</H4>
                        <P>
                        A novice asked the Master: "Here is a programmer that never designs,
                        documents or tests his programs.  Yet all who know him consider him
                        one of the best programmers in the world.  Why is this?"
                        <P>
                        The Master replied: "That programmer has mastered the Tao.  He has
                        gone beyond the need for design; he does not become angry when the
                        system crashes, but accepts the universe without concern.  He has gone
                        beyond the need for documentation; he no longer cares if anyone else
                        sees his code.  He has gone beyond the need for testing; each of his
                        programs are perfect within themselves, serene and elegant, their
                        purpose self-evident.  Truly, he has entered the mystery of Tao."
                        <HR>
                        <H3>BOOK 3</H3>
                        <H2><I>Design</I></H2>
                        <H5>Thus spake the Master Programmer:</H5>
                        <P><FONT SIZE=+1><B> "When a program is being tested, it is too late
                        to make design changes."</B></FONT>
                        <HR>
                        <H4>3.1</H4>
                        <P>
                        There once was a man who went to a computer trade show.  Each day as
                        he entered, the man told the guard at the door:
                        <P>
                        "I am a great thief, renowned for my feats of shoplifting.  Be
                        forewarned, for this trade show shall not escape unplundered."
                        <P>
                        This speech disturbed the guard greatly, because there were millions
                        of dollars of computer equipment inside, so he watched the man
                        carefully.  But the man merely wandered from booth to booth, humming
                        quietly to himself.
                        <P>
                        When the man left, the guard took him aside and searched his clothes,
                        but nothing was to be found.
                        <P>
                        On the next day of the trade show, the man returned and chided the
                        guard, saying: "I escaped with a vast booty yesterday, but today will
                        be even better."  So the guard watched him ever more closely, but to
                        no avail.
                        <P>
                        On the final day of the trade show, the guard could restrain his
                        curiosity no longer.  "Sir Thief," he said, "I am so perplexed, I
                        cannot live in peace.  Please enlighten me.  What is it that you are
                        stealing?"
                        <P>
                        The man smiled.  "I am stealing ideas," he said.
                        <HR>
                        <H4>3.2</H4>
                        <P>
                        There once was a Master Programmer who wrote unstructured programs.  A
                        novice programmer, seeking to imitate him, also began to write
                        unstructured programs.  When the novice asked the Master to evaluate
                        his progress, the Master criticized him for writing unstructured
                        programs, saying, "What is appropriate for the Master is not
                        appropriate for the novice.  You must understand Tao before
                        transcending structure."
                        <HR>
                        <H4>3.3</H4>
                        <P>
                        There was once a programmer who was attached to the court of the
                        warlord of Wu.  The warlord asked the programmer: "Which is easier to
                        design: an accounting package or an operating system?"
                        <P>
                        "An operating system," replied the programmer.
                        <P>
                        The warlord uttered an exclamation of disbelief.  "Surely an
                        accounting package is trivial next to the complexity of an operating
                        system," he said.
                        <P>
                        "Not so," said the programmer, "When designing an accounting package,
                        the programmer operates as a mediator between people having different
                        ideas: how it must operate, how its reports must appear, and how it
                        must conform to the tax laws.  By contrast, an operating system is not
                        limited by outside appearances.  When designing an operating system,
                        the programmer seeks the simplest harmony between machine and ideas.
                        This is why an operating system is easier to design."
                        <P>
                        The warlord of Wu nodded and smiled.  "That is all good and well, but
                        which is easier to debug?"
                        <P>
                        The programmer made no reply.
                        <HR>
                        <H4>3.4</H4>
                        <P>
                        A manager went to the Master Programmer and showed him the
                        requirements document for a new application.  The manager asked the
                        Master: "How long will it take to design this system if I assign five
                        programmers to it?"
                        <P>
                        "It will take one year," said the Master promptly.
                        <P>
                        "But we need this system immediately or even sooner!  How long will it
                        take if I assign ten programmers to it?"
                        <P>
                        The Master Programmer frowned.  "In that case, it will take two
                        years."
                        <P>
                        "And what if I assign a hundred programmers to it?"
                        <P>
                        The Master Programmer shrugged.  "Then the design will never be
                        completed," he said.
                        <HR>
                        <H3>BOOK 4</H3>
                        <H2><I>Coding</I></H2>
                        <H5>Thus spake the Master Programmer:</H5>
                        <P><FONT SIZE=+1><B> "A well-written program is its own Heaven; a
                        poorly-written program is its own Hell."</B></FONT>
                        <HR>
                        <H4>4.1</H4>
                        <P>
                        A program should be light and agile, its subroutines connected like a
                        string of pearls.  The spirit and intent of the program should be
                        retained throughout.  There should be neither too little nor too much.
                        Neither needless loops nor useless variables; neither lack of
                        structure nor overwhelming rigidity.
                        <P>
                        A program should follow the "Law of Least Astonishment".  What is this
                        law?  It is simply that the program should always respond to the users
                        in the way that least astonishes them.
                        <P>
                        A program, no matter how complex, should act as a single unit.  The
                        program should be directed by the logic within rather than by outward
                        appearances.
                        <P>
                        If the program fails in these requirements, it will be in a state of
                        disorder and confusion.  The only way to correct this is to rewrite
                        the program.
                        <HR>
                        <H4>4.2</H4>
                        <P>
                        A novice asked the Master: "I have a program that sometimes runs and
                        sometimes aborts.  I have followed the rules of programming, yet I am
                        totally baffled.  What is the reason for this?"
                        <P>
                        The Master replied: "You are confused because you do not understand
                        Tao.  Only a fool expects rational behavior from his fellow humans.
                        Why do you expect it from a machine that humans have constructed?
                        Computers simulate determinism; only Tao is perfect.
                        <P>
                        The rules of programming are transitory; only Tao is eternal.
                        Therefore, you must contemplate Tao before you receive Enlightenment."
                        <P>
                        "But how will I know when I have received Enlightenment?"  asked the
                        novice.
                        <P>
                        "Your program will run correctly," replied the Master.
                        <HR>
                        <H4>4.3</H4>
                        <P>
                        The Master was explaining the nature of Tao to one of his novices.
                        <P>
                        "The Tao is embodied in all software -- regardless of how
                        insignificant," said the Master.
                        <P>
                        "Is the Tao in a hand-held calculator?" asked the novice.
                        <P>
                        "It is," came the reply.
                        <P>
                        "Is the Tao in a video game?" asked the novice.
                        <P>
                        "It is even in a video game," said the Master.
                        <P>
                        "Is the Tao in the <TT>DOS</TT> for a personal computer?" asked the novice.
                        <P>
                        The Master coughed and shifted his position slightly.  "The lesson is
                        over for today," he said.
                        <HR>
                        <H4>4.4</H4>
                        <P>
                        Prince Wang's programmer was coding software.  His fingers danced upon
                        the keyboard.  The program compiled without and error message, and the
                        program ran like a gentle wind.
                        <P>
                        "Excellent!"  the Prince exclaimed.  "Your technique is faultless!"
                        <P>
                        "Technique?"  said the programmer, turning from his terminal, "What I
                        follow is Tao -- beyond all techniques!  When I first began to
                        program, I would see before me the whole problem in one mass.  After
                        three years, I no longer saw this mass.  Instead, I used subroutines.
                        But now I see nothing.  My whole being exists in a formless void.  My
                        senses are idle.  My spirit, free to work without a plan, follows its
                        own instinct.  In short, my program writes itself.  True, sometimes
                        there are difficult problems.  I see them coming, I slow down, I watch
                        silently.  Then I change a single line of code and the difficulties
                        vanish like puffs of idle smoke.  I then compile the program.  I sit
                        still and let the joy of the work fill my being.  I close my eyes for
                        a moment and then log off."
                        <P>
                        Prince Wang said, "Would that all of my programmers were as wise!"
                        <HR>
                        <H3>BOOK 5</H3>
                        <H2><I>Maintenance</I></H2>
                        <H5>Thus spake the Master Programmer:</H5>
                        <P><FONT SIZE=+1><B> "Though a program be but three lines long,
                        someday it will have to be maintained."</B></FONT>
                        <HR>
                        <H4>5.1</H4>
                        <BLOCKQUOTE>
                        A well-used door needs no oil on its hinges.
                        <BR>
                        A swift-flowing stream does not grow stagnant.
                        <BR>
                        A deer blends perfectly into the forest colors.
                        <BR>
                        Software rots if not used.
                        </BLOCKQUOTE>
                        These are great mysteries.
                        <HR>
                        <H4>5.2</H4>
                        <P>
                        A manager asked a programmer how long it would take him to finish the
                        program on which he was working.  "I will be finished tomorrow," the
                        programmer promptly replied.
                        <P>
                        "I think you are being unrealistic," said the manager, "Truthfully,
                        how long will it take?"
                        <P>
                        The programmer thought for a moment.  "I have some features that I
                        wish to add.  This will take at least two weeks," he finally said.
                        <P>
                        "Even that is too much to expect," insisted the manager, "I will be
                        satisfied if you simply tell me when the program is complete."
                        <P>
                        The programmer agreed to this.
                        <P>
                        Several years later, the manager retired.  On the way to his
                        retirement luncheon, he discovered the programmer asleep at his
                        terminal.  He had been programming all night.
                        <HR>
                        <H4>5.3</H4>
                        <P>
                        A novice programmer was once assigned to code a simple financial
                        package.
                        <P>
                        The novice worked furiously for many days, but when his Master
                        reviewed his program, he discovered it contained a screen editor, a
                        set of generalized graphics routines, and an artificial intelligence
                        interface, but not the slightest hint of anything financial.
                        <P>
                        When the Master asked about this, the novice became indignant.  "Don't
                        be so impatient," he said, "I'll put in the financial stuff
                        eventually."
                        <HR>
                        <H4>5.4</H4>
                        <BLOCKQUOTE>
                        Does a good farmer neglect a crop he has planted?
                        <BR>
                        Does a good teacher overlook even the most humble student?
                        <BR>
                        Does a good father allow a single child to starve?
                        <BR>
                        Does a good programmer refuse to maintain his code?
                        </BLOCKQUOTE>
                        <HR>
                        <H3>BOOK 6</H3>
                        <H2><I>Management</I></H2>
                        <H5>Thus spake the Master Programmer:</H5>
                        <P><FONT SIZE=+1><B> "Let the programmers be many and the managers few
                        -- then all will be productive."</B></FONT>
                        <HR>
                        <H4>6.1</H4>
                        <BLOCKQUOTE>
                        When managers hold endless meetings, the programmers write games.
                        <BR>
                        When accountants speak of quarterly profits, the development budget is
                        about to be cut.
                        <BR>
                        When senior scientists talk blue sky, the clouds are about to roll in.
                        </BLOCKQUOTE>
                        Truly, this is not the Tao of Programming.
                        <BLOCKQUOTE>
                        When managers make commitments, game programs are ignored.
                        <BR>
                        When accountants make long-range plans, harmony and order are about to
                        be restored.
                        <BR>
                        When senior scientists address the problems at hand, the problems will
                        soon be solved.
                        </BLOCKQUOTE>
                        Truly, this is the Tao of Programming.
                        <HR>
                        <H4>6.2</H4>
                        <BLOCKQUOTE>
                        Why are programmers non-productive?  Because their time is wasted in
                        meetings.
                        <BR>
                        Why are programmers rebellious?  Because the management interferes too
                        much.
                        <BR>
                        Why are the programmers resigning one by one?  Because they are burnt
                        out.
                        <BR>
                        Having worked for poor management, they no longer value their jobs.
                        </BLOCKQUOTE>
                        <HR>
                        <H4>6.3</H4>
                        <P>
                        A manager was about to be fired, but a programmer who worked for him
                        wrote a new program that became popular and sold well.  As a result,
                        the manager retained his job.
                        <P>
                        The manager tried to give the programmer a bonus, but the programmer
                        refused it, saying, "I wrote the program because I thought it was an
                        interesting concept, and thus I expect no reward."
                        <P>
                        The manager upon hearing this remarked, "This programmer, though he
                        holds a position of small esteem, understands well the proper duty of
                        an employee.  Let us promote him to the exalted position of management
                        consultant!"
                        <P>
                        But when told this, the programmer once more refused, saying, "I exist
                        so that I can program.  If I were promoted, I would do nothing but
                        waste everyone's time.  Can I go now?  I have a program that I am
                        working on."
                        <HR>
                        <H4>6.4</H4>
                        <P>
                        A manager went to his programmers and told them: "As regards to your
                        work hours: you are going to have to come in at nine in the morning
                        and leave at five in the afternoon."  At this, all of them became
                        angry and several resigned on the spot.
                        <P>
                        So the manager said: "All right, in that case you may set your own
                        working hours, as long as you finish your projects on schedule."  The
                        programmers, now satisfied, began to come in at noon and work to the
                        wee hours of the morning.
                        <HR>
                        <H3>BOOK 7</H3>
                        <H2><I>Corporate Wisdom</I></H2>
                        <H5>Thus spake the Master Programmer:</H5>
                        <P><FONT SIZE=+1><B> "You can demonstrate a program for a corporate
                        executive, but you can't make him computer literate."</B></FONT>
                        <HR>
                        <H4>7.1</H4>
                        <P>
                        A novice asked the Master: "In the East, there is a great
                        tree-structure that men call 'Corporate Headquarters'.  It is bloated
                        out of shape with vice presidents and accountants.  It issues a
                        multitude of memos, each saying 'Go Hence!' or 'Go Hither!' and nobody
                        knows what is meant.  Every year new names are put onto the branches,
                        but all to no avail.  How can such an unnatural entity exist?"
                        <P>
                        The Master replied: "You perceive this immense structure and are
                        disturbed that it has no rational purpose.  Can you not take amusement
                        from its endless gyrations?  Do you not enjoy the untroubled ease of
                        programming beneath its sheltering branches?  Why are you bothered by
                        its uselessness?"
                        <HR>
                        <H4>7.2</H4>
                        <P>
                        In the East there is a shark which is larger than all other fish.  It
                        changes into a bird whose wings are like clouds filling the sky.  When
                        this bird moves across the land, it brings a message from Corporate
                        Headquarters.  This message it drops into the midst of the
                        programmers, like a seagull making its mark upon the beach.  Then the
                        bird mounts on the wind and, with the blue sky at its back, returns
                        home.
                        <P>
                        The novice programmer stares in wonder at the bird, for he understands
                        it not.  The average programmer dreads the coming of the bird, for he
                        fears its message.  The Master Programmer continues to work at his
                        terminal, unaware that the bird has come and gone.
                        <HR>
                        <H4>7.3</H4>
                        <P>
                        The Magician of the Ivory Tower brought his latest invention for the
                        Master Programmer to examine.  The Magician wheeled a large black box
                        into the Master's office while the Master waited in silence.
                        <P>
                        "This is an integrated, distributed, general-purpose workstation,"
                        began the Magician, "ergonomically designed with a proprietary
                        operating system, sixth generation languages, and multiple state of
                        the art user interfaces.  It took my assistants several hundred man
                        years to construct.  Is it not amazing?"
                        <P>
                        The Master Programmer raised his eyebrows slightly.  "It is indeed
                        amazing," he said.
                        <P>
                        "Corporate Headquarters has commanded," continued the Magician, "that
                        everyone use this workstation as a platform for new programs.  Do you
                        agree to this?"
                        <P>
                        "Certainly," replied the Master.  "I will have it transported to the
                        Data Center immediately!"  And the Magician returned to his tower,
                        well pleased.
                        <P>
                        Several days later, a novice wandered into the office of the Master
                        Programmer and said, "I cannot find the listing for my new program.
                        Do you know where it might be?"
                        <P>
                        "Yes," replied the Master, "the listings are stacked on the platform
                        in the Data Center."
                        <HR>
                        <H4>7.4</H4>
                        <P>
                        The Master Programmer moves from program to program without fear.  No
                        change in management can harm him.  He will not be fired, even if the
                        project is cancelled.  Why is this?  He is filled with Tao.
                        <HR>
                        <H3>BOOK 8</H3>
                        <H2><I>Hardware and Software</I></H2>
                        <H5>Thus spake the Master Programmer:</H5>
                        <P><FONT SIZE=+1><B> "Without the wind, the grass does not move.
                        Without software hardware is useless."</B></FONT>
                        <HR>
                        <H4>8.1</H4>
                        <P>
                        A novice asked the Master: "I perceive that one computer company is
                        much larger than all others.  It towers above its competition like a
                        giant among dwarfs.  Any one of its divisions could comprise an entire
                        business.  Why is this so?"
                        <P>
                        The Master replied, "Why do you ask such foolish questions?  That
                        company is large because it is large.  If it only made hardware,
                        nobody would buy it.  If it only made software, nobody would use it.
                        If it only maintained systems, people would treat it like a servant.
                        But because it combines all of these things, people think it one of
                        the gods!  By not seeking to strive, it conquers without effort."
                        <HR>
                        <H4>8.2</H4>
                        <P>
                        A Master Programmer passed a novice programmer one day.
                        <P>
                        The Master noted the novice's preoccupation with a hand-held computer
                        game.
                        <P>
                        "Excuse me," he said, "may I examine it?"
                        <P>
                        The novice bolted to attention and handed the device to the Master.
                        "I see that the device claims to have three levels of play: Easy,
                        Medium, and Hard," said the Master.  "Yet every such device has
                        another level of play, where the device seeks not to conquer the
                        human, nor to be conquered by the human."
                        <P>
                        "Pray, Great Master," implored the novice, "how does one find this
                        mysterious setting?"
                        <P>
                        The Master dropped the device to the ground and crushed it with his
                        heel.  Suddenly the novice was enlightened.
                        <HR>
                        <H4>8.3</H4>
                        <P>
                        There was once a programmer who wrote software for personal computers.
                        "Look at how well off I am here," he said to a mainframe programmer
                        who came to visit.  "I have my own operating system and file storage
                        device.  I do not have to share my resources with anyone.  The
                        software is self-consistent and easy-to-use.  Why do you not quit your
                        present job and join me here?"
                        <P>
                        The mainframe programmer then began to describe his system to his
                        friend, saying, "The mainframe sits like an ancient Sage meditating in
                        the midst of the Data Center.  Its disk drives lie end-to- end like a
                        great ocean of machinery.  The software is as multifaceted as a
                        diamond, and as convoluted as a primeval jungle.  The programs, each
                        unique, move through the system like a swift-flowing river.  That is
                        why I am happy where I am."
                        <P>
                        The personal computer programmer, upon hearing this, fell silent.  But
                        the two programmers remained friends until the end of their days.
                        <HR>
                        <H4>8.4</H4>
                        <P>
                        Hardware met Software on the road to Changtse.  Software said: "You
                        are Yin and I am Yang.  If we travel together, we will become famous
                        and earn vast sums of money."  And so they set forth together,
                        thinking to conquer the world.
                        <P>
                        Presently, they met Firmware, who was dressed in tattered rags and
                        hobbled along propped on a thorny stick.  Firmware said to them: "The
                        Tao lies beyond Yin and Yang.  It is silent and still as a pool of
                        water.  It does not seek fame; therefore, nobody knows its presence.
                        It does not seek fortune, for it is complete within itself.  It exists
                        beyond space and time."
                        <P>
                        Software and Hardware, ashamed, returned to their homes.
                        <HR>
                        <H3>BOOK 9</H3>
                        <H2><I>Epilogue</I></H2>
                        <H5>Thus spake the Master Programmer:</H5>
                        <P><FONT SIZE=+1><B> "Time for you to leave."</B></FONT>
                    </div>
                </div>
            </section>


            <%- include('partials/footer.ejs') %>
        </div>

        <%- include('partials/return-to-top-button.ejs') %>

        <script src="/lib/swiper-bundle.min.js"></script>
        <script src="/lib/aos.min.js"></script>
        <script type='module' src="/src/js/tao.js"></script>

    </body>
</html>
