<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include('partials/head.ejs') %>
    <body class="overflow-x-hidden">
        <%- include('partials/screen-loader.ejs') %>
        <div
            class="flex min-h-screen flex-col bg-white bg-gradient-to-r from-[#FCF1F4] to-[#EDFBF9] font-mulish text-base font-normal text-gray antialiased dark:bg-[#101926] dark:from-transparent dark:to-transparent"
        >
            <div class="-mt-[82px] flex-grow overflow-x-hidden lg:-mt-[106px]">
                <div class="overflow-hidden bg-black pt-[82px] sm:-mx-[250px] sm:rounded-b-[50%] lg:-mx-[150px] lg:pt-[106px]">
                    <div class="relative">
                        <img src="/assets/images/banner-lefticon.png" alt="banner-lefticon" class="absolute left-0 top-20 sm:left-[250px] lg:left-[150px]" />
                        <img
                            src="/assets/images/banner-rightIcon.png"
                            alt="banner-rightIcon"
                            class="absolute right-0 -top-4 sm:right-[250px] lg:right-[150px]"
                        />
                        <div class="container">
                            <div class="relative">
                                <div class="bg-[url(/assets/images/banner-bg-icon.png)] bg-cover bg-center bg-no-repeat">
                                    <div class="relative bg-[url(../images/world-map.png)] bg-cover bg-top bg-no-repeat py-7 lg:pb-20">
                                        <div class="relative z-[1] mx-auto text-center text-white ">

                                            <h2 class="text-4xl font-extrabold leading-normal sm:text-5xl lg:text-[70px] lg:leading-[90px]">
                                                Se torne
                                                <span
                                                    class="relative text-secondary after:absolute after:bottom-0 after:left-0 after:h-1 after:w-full after:rounded after:bg-gradient-to-r after:from-secondary after:to-transparent"
                                                    >um programador</span
                                                >
                                                que vale
                                                <span
                                                    class="relative text-primary after:absolute after:bottom-0 after:left-0 after:h-1 after:w-full after:rounded after:bg-gradient-to-r after:from-primary after:to-transparent"
                                                    >por dez</span
                                                >
                                            </h2>
                                            <div
                                            class="h-[200px] md:h-[350px] lg:h-[430px] xl:h-[500px] mt-6"
                                            style="background-color: black; text-align: center;">
                                            <iframe
                                                id="bunny-stream-embed"
                                                frameborder="0"
                                                title="umpordez"
                                                src="https://www.youtube.com/embed/4bcuzmw62qA?si=7aSUEAh0QOM7waBB"
                                                style="width: 100%; height: 100%"
                                                allow="autoplay;picture-in-picture;"
                                                allowfullscreen="true"></iframe>

                                        </div>
                                            <a
                                                href="https://umpordez.isei.app/oferta/janeiro?cupom=ligeiro"
                                                class="btn mx-auto mt-10 block w-fit bg-white">Quero Participar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <section class="relative">
                    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
                        <div class="max-w-screen-md mb-8 lg:mb-16">
                            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">umpordez</h2>
                            <p class="text-gray-500 sm:text-xl dark:text-gray-400">
                                É o treinamento / acompanhamento que você precisa para se tornar um programador que vale por dez comuns.
                                <br />
                                <br />
                                Assista a live de apresentação para ter mais detalhes, mas corre que essa oportunidade só irá existir até o dia 31/01.
                            </p>
                        </div>
                    </div>
                  </section>
                    <div>
                        <%- include('partials/about-me.ejs') %>
                    </div>
                </section>
            </div>

            <%- include('partials/footer.ejs') %>
        </div>

        <%- include('partials/return-to-top-button.ejs') %>

        <script src="/lib/swiper-bundle.min.js"></script>
        <script src="/lib/aos.min.js"></script>
        <script src="/lib/accordion.min.js"></script>
        <script type='module' src="/src/js/design-patterns.js"></script>
    </body>
</html>
